
.App-header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-header h1 {
  margin: 0;
}

.App-header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.App-header nav ul li {
  margin-left: 20px;
}

.App-header nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}


.search-bar-container {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px 10px;
  background-color: #f9f9f9;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

/* Stil pentru input */
.search-bar {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
}

/* Stil pentru iconiță */
.search-icon {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  margin-left: 10px;
}

.search-icon:hover {
  color: #007bff; /* Schimbă culoarea la hover */
}

.car-image {
  width: 200px; 
  height: auto; 
  border-radius: 8px; 
  margin: 10px 0; 
 
}

.car-list {
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  list-style: none; 
  padding: 0;
  margin: 20px 0;
}


.car-item {
  background-color: #f9f9f9; 
  border: 1px solid #ddd;
  border-radius: 8px; 
  padding: 15px; 
  text-align: center; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  font-family: Arial, sans-serif; 
  color: #333; 
  font-size: 14px; 
}