
.App-header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-header h1 {
  margin: 0;
}

.App-header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.App-header nav ul li {
  margin-left: 20px;
}

.App-header nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.search-bar {
  margin: 10px 0;
  padding: 8px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

